@model IEnumerable<Microsoft.Win32.TaskScheduler.Task>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastTaskResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Path)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastRunTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfMissedRuns)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextRunTime)
                </th>
                <th></th>
            </tr>
        </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastTaskResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Path)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastRunTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfMissedRuns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextRunTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

</table>
</body>